n8n-workflow-example.json
{
  "name": "Email Notification System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "email-notifications"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "email-type-signup",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "sign-up",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sign-up"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "email-type-subscription",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "subscription-purchased",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "subscription-purchased"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "email-type-levelup",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "level-up",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "level-up"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "email-type-lesson",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "lesson-completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lesson-completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "email-type-achievement",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "achievement-unlocked",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "achievement-unlocked"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-email-type",
      "name": "Route by Email Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Sign Up Email Template\nconst emailData = $input.item.json;\nconst siteUrl = $env.SITE_URL || 'https://humancatalystbeacon.com';\nconst siteName = $env.SITE_NAME || 'The Human Catalyst Beacon';\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Welcome to ${siteName}!</title>\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 10px 10px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">🎉 Welcome to ${siteName}!</h1>\n  </div>\n  <div style=\"background: #ffffff; padding: 30px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    <p style=\"font-size: 16px; margin-bottom: 20px;\">Hello ${emailData.userName || 'there'},</p>\n    <p style=\"font-size: 16px; margin-bottom: 20px;\">Thank you for joining ${siteName}! We're thrilled to have you on board.</p>\n    <div style=\"text-align: center; margin-top: 30px;\">\n      <a href=\"${siteUrl}/dashboard\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Go to Dashboard</a>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    to: emailData.email,\n    subject: `🎉 Welcome to ${siteName}!`,\n    html: html\n  }\n};"
      },
      "id": "template-signup",
      "name": "Sign Up Template",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "functionCode": "// Level Up Email Template\nconst emailData = $input.item.json;\nconst siteUrl = $env.SITE_URL || 'https://humancatalystbeacon.com';\nconst siteName = $env.SITE_NAME || 'The Human Catalyst Beacon';\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Level Up!</title>\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 10px 10px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">🎉 Level Up!</h1>\n  </div>\n  <div style=\"background: #ffffff; padding: 30px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    <p style=\"font-size: 16px; margin-bottom: 20px;\">Congratulations ${emailData.userName || 'there'}!</p>\n    <p style=\"font-size: 16px; margin-bottom: 20px;\">You've reached <strong>Level ${emailData.newLevel}</strong>!</p>\n    <div style=\"background: #f8f9fa; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n      <p style=\"margin: 10px 0;\"><strong>Previous Level:</strong> ${emailData.oldLevel}</p>\n      <p style=\"margin: 10px 0;\"><strong>New Level:</strong> <span style=\"color: #667eea; font-weight: bold;\">${emailData.newLevel}</span></p>\n      <p style=\"margin: 10px 0;\"><strong>Total XP:</strong> ${emailData.totalXP || 0}</p>\n    </div>\n    <div style=\"text-align: center; margin-top: 30px;\">\n      <a href=\"${siteUrl}/dashboard\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">View Dashboard</a>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    to: emailData.email,\n    subject: `🎉 Level Up! You're now Level ${emailData.newLevel}`,\n    html: html\n  }\n};"
      },
      "id": "template-levelup",
      "name": "Level Up Template",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SENDGRID_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personalizations\": [{\n    \"to\": [{\"email\": \"{{ $json.to }}\"}]\n  }],\n  \"from\": {\n    \"email\": \"{{ $env.FROM_EMAIL }}\",\n    \"name\": \"{{ $env.FROM_NAME }}\"\n  },\n  \"subject\": \"{{ $json.subject }}\",\n  \"content\": [{\n    \"type\": \"text/html\",\n    \"value\": \"{{ $json.html }}\"\n  }]\n}",
        "options": {}
      },
      "id": "sendgrid-send",
      "name": "Send via SendGrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "sendgrid-auth",
          "name": "SendGrid API"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "resource": "email_logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email_type": "={{ $('Webhook Trigger').item.json.emailType }}",
            "recipient_email": "={{ $('Webhook Trigger').item.json.email }}",
            "subject": "={{ $json.subject }}",
            "status": "=sent",
            "sent_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "log-email",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"messageId\": $json.message_id || \"sent\" } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Route by Email Type", "type": "main", "index": 0}]]
    },
    "Route by Email Type": {
      "main": [
        [{"node": "Sign Up Template", "type": "main", "index": 0}],
        [{"node": "Level Up Template", "type": "main", "index": 0}],
        [],
        [],
        []
      ]
    },
    "Sign Up Template": {
      "main": [[{"node": "Send via SendGrid", "type": "main", "index": 0}]]
    },
    "Level Up Template": {
      "main": [[{"node": "Send via SendGrid", "type": "main", "index": 0}]]
    },
    "Send via SendGrid": {
      "main": [[{"node": "Log to Supabase", "type": "main", "index": 0}]]
    },
    "Log to Supabase": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
